{% extends 'base.html' %}
{% load staticfiles %}
{% block left_content %}
    <div class="banner">
      <div id="slide-holder">
        <div id="slide-runner">
            <a href="/" target="_blank"><img id="slide-img-1" src="{% static 'images/ws.jpg' %}" alt="" /></a>
            <a href="/" target="_blank"><img id="slide-img-2" src="{% static 'images/jd.jpg' %}"  alt="" /></a>
            <a href="/" target="_blank"><img id="slide-img-3" src="{% static 'images/a3.jpg' %}" alt="" /></a>
            <a href="/" target="_blank"><img id="slide-img-4" src="{% static 'images/a4.jpg' %}"alt="" /></a>
          <div id="slide-controls">
            <p id="slide-client" class="text"><strong></strong><span></span></p>
            <p id="slide-desc" class="text"></p>
            <p id="slide-nav"></p>
          </div>
        </div>
      </div>
      <script>
    if(!window.slider) {
    var slider={};
  }

  slider.data= [
    {
        "id":"slide-img-1", // 与slide-runner中的img标签id对应
        "client":"标题1",
        "desc":"这里修改描述 这里修改描述 这里修改描述" //这里修改描述
    },
    {
        "id":"slide-img-2",
        "client":"标题2",
        "desc":"add your description here"
    },
    {
        "id":"slide-img-3",
        "client":"标题3",
        "desc":"add your description here"
    },
    {
        "id":"slide-img-4",
        "client":"标题4",
        "desc":"add your description here"
    }
  ];

    </script>
    </div>
    <!-- banner代码 结束 -->
    <div class="topnews">
      <h2>最新文章</h2>
        {% for Article in Article_list %}
            <div class="blogs">
        <ul>
          <h3><a href="{% url 'article' %}?id={{ Article.id }}">{{ Article.title }}</a></h3>
          <p>{{ Article.desc }}</p>
          <p class="autor"><span class="lm f_l">{% for tag in Article.tag.all %}<a href="">{{ tag.name }}</a>{% endfor %}
          </span><span class="dtime f_l">{{ Article.date_publish | date:'Y-m-d' }}</span>
              <span class="viewnum f_r">浏览（<a href="/">{{ Article.click_count }}</a>）</span>
              <span class="pingl f_r">评论（<a href="/">{{ Article.comment_set.all.count }}</a>）</span></p>
        </ul>
      </div>
        {% endfor %}
    </div>
    {% include 'pagination.html' %}
{% endblock %}
